
{% extends "::base.html.twig" %}

{% block body %}
    <div id="project-fpage" class="container">
    <div class="row">
        <div class="text-center">
            <h1>Naujas projektas</h1>
        </div>


        {#{{ form_start(form) }}#}
        {#{{ form_row(form.title) }}#}
        {#{{ form_row(form.description) }}#}
        {#{{ form_row(form.status) }}#}
        {#{{ form_row(form.role) }}#}
        {#<button style="color:black" type="submit">Sukurti</button>#}
        {#{{ form_end(form) }}#}
    </div>
    </div>

{% endblock %}