
{% extends "::base.html.twig" %}

{% block body %}
    <div id="project-fpage" class="container">
    <div class="row">
        <div class="text-center">
            <h1>Projektų puslapis</h1>
        </div>
        <table class="table table-sm table-inverse">
            <thead>
            <tr>
                <th>ID</th>
                <th>Pavadinimas</th>
                <th>Aprašas</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for val in projects %}
                <tr>
                    <td><a href="/projectsShow">{{ val.id }}</a></td>
                    <td><form method="post" action="{{ path('projectsShow') }}">
                            <input type="hidden" name="id" value="{{ val.id }}">
                        <button type="submit">{{ val.title }}</button>
                        </form></td>
                    <td>{{ val.description }}</td>
                    <td>{{ val.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

{% endblock %}