
{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="text-center">
                <h3>Vartotojo profilis</h3>
            </div>
            <div class="col-md-8">
                <table class="table table-sm table-inverse">
                    <tr>
                        <th>Vardas:</th>
                        <td>{{app.session.get('user').getName()}}</td>
                    </tr>
                    <tr>
                        <th>Pavardė:</th>
                        <td>{{app.session.get('user').getSurname()}}</td>
                    </tr>
                    <tr>
                        <th>Telefono nr.:</th>
                        <td>{{app.session.get('user').getPhone()}}</td>
                    </tr>
                    <tr>
                        <th>El. paštas:</th>
                        <td>{{app.session.get('user').getEmail()}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <div class="text-center user-img-size">
                    <img src="{{ asset('images/offer2.jpg') }}" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}