
{% extends "::base.html.twig" %}

{% block body %}
    <div id="project-fpage" class="container">
    <div class="row">
        <div class="text-center">
            <h1>Klientų sąrašas</h1>
        </div>
        <table class="table table-sm table-inverse">
            <thead>
            <tr>
                <th>ID</th>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th>El. paštas</th>
                <th>Telefono Nr.</th>
                <th>Kompanija</th>

            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <th>{{ client.id }}</th>
                    <th>{{ client.name }}</th>
                    <th>{{ client.surname }}</th>
                    <th>{{ client.email }}</th>
                    <th>{{ client.phone }}</th>
                    <th>{{ client.company }}</th>

                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

{% endblock %}