
{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1>Užduočių puslapis</h1>
            </div>
            <a href="createTask">Nauja užduotis</a>
            <div class="text-right">
                <p class="paragraph-display-inline">
                    <input type="checkbox" id="cbox1" value="first_checkbox">
                    <label for="cbox1">Aktyvios užduotys</label>
                </p>
                <p class="paragraph-display-inline task-checkbox-margin">
                    <input type="checkbox" id="cbox2" value="second_checkbox">
                    <label for="cbox2">Mano užduotys</label>
                </p>
            </div>
            <table class="table table-sm table-inverse">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Pavadinimas</th>
                    <th>Projektas</th>
                    <th>Komandos narys</th>
                    <th>Atlikti iki</th>
                    <th>Statusas</th>
                    <th>Veiksmai</th>
                </tr>
                </thead>
                <tbody>
    {% for task in tasks %}
                <tr class="{% if task.priorities == 2 %}table-warning{% elseif task.priorities == 3 %}table-danger{% elseif task.priorities == 1 %}table-success{% endif %}">
                    <td>{{ task.id }}</td>
                    <td><a href="/tasks/show?id={{ task.id }}">{{ task.title }}</a></td>
                    <td>{{ task.FkProjectId.title }}</td>
                    <td>{{ task.FkUserId.name }}</td>
                    <td>{{ task.deadline|date('Y-m-d') }}</td>
                    <td>{{ task.status }}</td>
                    <td>
                        <a href="/tasks/show?id={{ task.id }}"><i class="fa fa-eye"></i> </a>
                        <a href="{{  path('task_edit',{'id': task.id}) }}"><i class="fa fa-pencil"></i> </a>
                        <a href="{{  path('delete',{'id': task.id}) }}"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}